
<ion-header>
  <ion-toolbar>
    <ion-title>Magic Trading</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="irAPerfil()">
        <ion-icon name="person-circle-outline"></ion-icon>
        Perfil
      </ion-button>
      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <h1 class="ion-text-center">¡Bienvenido a la aplicación!</h1>

    <!-- Campo de búsqueda -->
    <div class="search-container">
      <ion-item>
        <ion-input [(ngModel)]="nombreCarta"
        type="text"
        placeholder="Buscar carta"
        (ionInput)="onInputChange($event.detail.value ?? '')"
        (keyup.enter)="buscarCarta($event)">
        </ion-input>
        <ion-icon name="search" slot="start"></ion-icon>
      </ion-item>

      <!-- Desplegable de resultados de búsqueda -->
      @if (searchResults.length > 0 && !loading) {
        <ion-list>
          @for (carta of searchResults; track carta.id) {
            <ion-item (click)="seleccionarCarta(carta)">
              <ion-label>{{ carta.name }}</ion-label>
            </ion-item>
          }
        </ion-list>
      }

      <!-- Indicador de carga -->
      @if (loading) {
        <ion-note color="primary">Cargando...</ion-note>
      }
    </div>
  </div>
</ion-content>
